<!-- <a href="{{url}}"> -->
  <div class="post-card">
    <img class="post-card-image" src="{{feature_image}}">
    <!-- <div class="post-card-image" style="background-image: url({{feature_image}})"></div> -->
    <div class="post-card-text-container">
      <h1 class="post-card-text" class="post-card-title"><a href={{url}}> {{title}} </a></h1>
      <h1 class="post-card-text" class="post-card-author"> {{author}} </h1>
      <h1 class="post-card-text" class="post-card-date"> {{date}} </h1>
    </div>
    <!-- <div class="default-postcard">
      <a href="{{url}}">
        <h2 class="post-card-title">{{title}}</h2>
      </a>
    </div> -->
  </div>
  <!-- </a> -->
