<div class="feature-card-container-wrapper">
  <a href="{{content}}"><img src="{{feature_image}}" class="feature-photo"></a>
  <div class="feature-headline">
    <a href="{{url}}"><h1 class="title"> {{title}} </h1></a>
    <p class="post-card-excerpt"> {{excerpt characters="100"}}... </p>
  </div>
</div>
