<div class="post-card section-specific-post-card">
  <a  href="{{url}}">
  <div class="large-post-card-image-resize">
    <img class="large-post-card-image" src="{{feature_image}}">
  </div>
  <!-- <div class="post-card-image" style="background-image: url({{feature_image}})"></div> -->
  <div class="post-card-text-container">
    <p class="large-post-card-text large-post-card-title">
      <a  class="large-post-card-text-link" href={{url}}> {{title}} </a>
    </p>
    {{#if authors}}
        <p class="post-card-text post-card-author">{{authors separator=", " autolink="false"}}</p>
    {{else}}
      {{#author}}<p class="post-card-text post-card-author">{{author.name}}</p>{{/author}}
    {{/if}}
    <p class="post-card-text post-card-date"> {{date}} </p>
    <p class="post-card-excerpt"> {{excerpt characters="100"}}... </p>
    <h3 class="related-author-more"><a  href="{{url}}">More &gt;&gt;</a></h3>

  </div>
</a>
</div>
