{{!< default}}

<div class="author-page">
{{#author}}
  <div class="author-info">
    <h1 class="author-name">{{name}}</h1>
    {{#if twitter}}
      <a href="https://twitter.com/{{twitter}}" class="social-media-link"><img class="nbn-social-media-icon" src={{asset "images/social-media/twitter-purple.png"}}></a>
    {{/if}}
    {{#if website}}
      <a href={{website}} class="social-media-link"><img class="nbn-social-media-icon" src={{asset "images/social-media/link-small.png"}}></a>
    {{/if}}
  </div>
  <div class="author-bio-container">
    <p class="author-bio-text">{{bio}}</p>
  </div>
{{/author}}
{{#foreach posts}}
  <div class="author-post-card">
    {{> "author-post-card"}}
  </div>
{{/foreach}}
</div>


<!--
Here's the logic:
Article feed: for every article an author has written/contributed to,
render it in a feed format. This will happen just by having authors get "tagged"
as articles are posted.

Page title/URL: The author's name will be displayed at top of Page

Positions box: This will actually just be the person's bio box. we also might take
the facebook URL area to write out someone's current title. (investigate this!!)

 -->
