<!DOCTYPE html>
<html lang="en">
  <head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
     <link rel="stylesheet" type="text/css" href={{asset "css/global.css"}} />
     <link href="https://fonts.googleapis.com/css?family=Lora|PT+Sans+Narrow:400,700|Work+Sans:200,300,400,600" rel="stylesheet">


    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
  </head>
  <body>
    <header>
      <div class="banner-container">
        {{> "banner" }}
      </div>
      <!-- <div class="section-block-divider banner-divider"> </div> -->
    </header>
    <main>
      {{{body}}}
    </main>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    <footer>
      <hr>
      <hr>
      <div class="footer-container">
        {{> "footer" }}
      </div>
      {{ghost_foot}}
    </footer>
  </body>
</html>
