{{!< default}}

<div class="article-page">
  <div class="article-page">
    <div class="nav-sidebar">
      {{#get "tags" limit="all"}}
        {{#foreach tags}}
          {{> "nav-sidebar-sections" }}
        {{/foreach}}
      {{/get}}
    </div>
  </div>
  {{#post}}
  <div class="article-container">
    {{#if feature_image}}
      <img src="{{feature_image}}" width="100%">
    {{/if}}
    <h1 class="title"> {{title}} </h1>
    {{#if authors}}
      <h3 class="byline">
      {{#foreach authors}}
        <h3 class="byline"><a href={{url}}>{{name}},</a> {{location}} </h3>
      {{/foreach}}
    {{else}}
    {{#author}}<h3 class="byline"><a href={{url}}>{{name}},</a> {{location}} </h3>{{/author}}
    {{/if}}
    <h3 class="date"> {{date published_at format='MM/DD/YY, hh:mm a'}} </h3>
    <div class="article-body">
      <p> {{content}} </p>
    </div>
  </div>
  <div class="content-sidebar">
    <div class="related-content-sidebar">
        <h3 class="related-author-more"><a href="{{primary_author.url}}">Other stories by this author</a></h3>
        {{#get "posts" filter="authors:{{primary_author.slug}}+id:-{{id}}" limit='3'}}
        {{#foreach posts}}
          <div class="author-related-post">
            {{> "front-page-post-card"}}
          </div>
        {{/foreach}}
        {{/get}}
        <h3 class="related-author-more"><a href="{{primary_author.url}}">See all &gt;&gt;</a></h3>
    </div>
  </div>
  {{/post}}
</div>
